---
import { Icon } from "astro-icon/components";
import { SITE } from "astrowind:config";
import { getHomePermalink } from "~/utils/permalinks";
import { Image } from "astro:assets";
import logo from "~/assets/images/HTA-globe.png";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

interface Location {
  city: string;
  airport: string;
  address: string;
  phone: string;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
  description?: string;
  locations?: Array<Location>;
}

const {
  description = "",
  socialLinks = [],
  secondaryLinks = [],
  links = [],
  locations = [],
  footNote = "",
  theme = "light",
} = Astro.props;
---

<footer
  class:list={[
    { dark: theme === "dark" },
    "relative border-t border-gray-200 dark:border-slate-800 not-prose",
  ]}
>
  <div
    class="bg-gradient-to-t from-slate-400 to-gray-200 dark:from-slate-700 dark:to-gray-600 absolute inset-0 pointer-events-none"
    aria-hidden="true"
  >
  </div>
  <div class="pt-6 relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div
      class="lg:max-w-6xl mx-auto flex flex-wrap items-center justify-center lg:justify-between px-4 lg:px-12 py-4 lg:py-8 bg-gray-100 dark:bg-gray-900 rounded-md"
    >
      {
        locations &&
          locations.map(({ city, airport, address, phone }) => (
            <>
              <div class="py-3 text-sm text-primary text-center mr-4 dark:text-gray-400">
                <p class="mb-1 text-lg">
                  <strong>{city}</strong>
                </p>
                <p class="mb-1">{airport}</p>
                <p class="mb-1">{address}</p>
                <a
                  href={`tel:${phone}`}
                  class="text-sky-600 hover:underline flex justify-center items-center"
                >
                  <Icon class="w-4 h-4" name="tabler:phone-filled" />
                  {phone}
                </a>
              </div>
            </>
          ))
      }
      <span
        class="w-full mt-9 text-center font-semibold text-primary dark:text-gray-400"
        >For general inquiries, please <a
          href="/contact"
          class="text-sky-600 hover:underline">Contact Us.</a
        ></span
      >
    </div>

    <div
      class="flex flex-wrap items-start justify-between px-3 lg:px-16 py-8 lg:py-4"
    >
      {
        links.map(({ title, links }) => (
          <div class="md:flex-1 py-3">
            <div class="dark:text-gray-300 font-bold mb-2">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-primary hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>

    <div class="grid grid-cols-12 gap-2 gap-y-8 sm:gap-4">
      <div class="col-span-12">
        <div class="mb-2">
          <a
            class="flex justify-start align-middle items-center font-bold text-2xl"
            href={getHomePermalink()}
          >
            <Image
              src={logo}
              alt="High Tide Aviation Logo"
              class="w-24 h-full aspect-square object-contain"
              width={80}
              height={80}
            />
            {SITE?.name}</a
          >
        </div>
        <div class="flex-3 text-sm text-muted">
          <p class="text-justify text-sm leading-5">
            <Fragment set:text={description} />
          </p>
        </div>
        <div class="text-sm text-primary">
          {
            secondaryLinks.map(({ text, href }) => (
              <a
                class="text-primary hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out mr-2 rtl:mr-0 rtl:ml-2"
                href={href}
                set:html={text}
              />
            ))
          }
        </div>
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-primary dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ""
        )
      }

      <div class="text-sm text-slate-900 mr-4 dark:text-primary">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
