---
const { title, btnId, btnTitle, url } = Astro.props;
import { Image } from "astro:assets";
import logo1 from "~/assets/images/PNPlogo.png";
import logo2 from "~/assets/images/autism-logo-2023-color-horizontal.png";
import logo3 from "~/assets/images/angel-flight-logo.png";
---

<astro-banner btnId={btnId}>
  <div
    class="fixed bottom-0 start-1/2 z-50 mx-auto w-full -translate-x-1/2 transform sm:max-w-xl top-40 overflow-y-auto max-h-[80vh] -translate-y-10"
    role="region"
    aria-label="Informational Banner"
  >
    <div class="rounded-xl bg-neutral-100 p-4 text-center shadow-sm">
      <div class="flex items-center justify-center flex-col lg:flex-row">
        <button
          type="button"
          class="ml-auto order-1 lg:order-4 inline-flex items-center gap-x-2 rounded-full border border-transparent bg-mustard-yellow p-2 text-sm font-semibold text-slate-700 hover:bg-slate-700 hover:text-white duration-200 disabled:pointer-events-none disabled:opacity-50"
          id={btnId}
        >
          <span class="sr-only">Dismiss</span>
          <svg
            class="size-5 flex-shrink-0"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
          >
        </button>

        <div class="lg:ml-auto order-3 flex gap-3">
          {
            title && (
              <p class="me-2 inline-block font-medium text-neutral-50 dark:text-neutral-700">
                {title}
              </p>
            )
          }
        </div>
      </div>
      <h2 class="text-left text-base lg:text-xl text-gray-700">
        In celebration of <a
          href="https://globalpayitforwardday.com/"
          target="_blank"
          class="underline hover:text-slate-900">Global Pay it Forward Day</a
        > (April 28th) you can receive a <strong>15% discount</strong> off your next
        lesson, tour, or simulator session, when you donate to any one of the causes
        below!
      </h2>

      <div class="grid grid-cols-2 gap-3">
        <Image
          src={logo1}
          alt="Pilots And Paws logo"
          class="w-full h-20 object-contain rounded-lg"
        />
        <a
          class="group inline-flex mx-auto items-center gap-x-2 rounded w-full justify-center text-xl border-2 border-slate-700 bg-mustard-yellow backdrop-brightness-75 sm:backdrop-brightness-100 px-3 py-5 font-semibold text-slate-700 transition duration-300 hover:text-white hover:bg-slate-700 disabled:pointer-events-none disabled:opacity-50"
          href="https://www.pilotsnpaws.org/donate/"
          target="_blank"
        >
          Donate
          <svg
            class="size-4 flex-shrink-0 transition duration-100 group-hover:translate-x-1"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </a>
        <Image
          src={logo2}
          alt="Autism Society of North Carolina logo"
          class="w-full h-20 object-contain rounded-lg"
        />
        <a
          class="group inline-flex mx-auto items-center gap-x-2 rounded w-full justify-center text-xl border-2 border-slate-700 bg-mustard-yellow backdrop-brightness-75 sm:backdrop-brightness-100 px-3 py-5 font-semibold text-slate-700 transition duration-300 hover:text-white hover:bg-slate-700 disabled:pointer-events-none disabled:opacity-50"
          href="https://www.autismsociety-nc.org/donate-online/"
          target="_blank"
        >
          Donate
          <svg
            class="size-4 flex-shrink-0 transition duration-100 group-hover:translate-x-1"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </a>
        <Image
          src={logo3}
          alt="Angel Flight logo"
          class="w-full h-20 object-contain rounded-lg"
        />
        <a
          class="group inline-flex mx-auto items-center gap-x-2 rounded w-full justify-center text-xl border-2 border-slate-700 bg-mustard-yellow backdrop-brightness-75 sm:backdrop-brightness-100 px-3 py-5 font-semibold text-slate-700 transition duration-300 hover:text-white hover:bg-slate-700 disabled:pointer-events-none disabled:opacity-50"
          href="https://www.angelflight.com/donate/"
          target="_blank"
        >
          Donate
          <svg
            class="size-4 flex-shrink-0 transition duration-100 group-hover:translate-x-1"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
          >
        </a>
      </div>
      <p class="text-xs lg:text-sm text-left mt-2 text-gray-700">
        *Simply print out or take a screenshot of the page confirming your
        donation and bring it with you during your next visit.
      </p>
    </div>
  </div>
</astro-banner>
<script type="module">
  class AstroBanner extends HTMLElement {
    connectedCallback() {
      const btnId = this.getAttribute("btnId");
      const button = this.querySelector(`#${btnId}`);
      if (button != null) {
        button.addEventListener("click", () => this.remove());
      }
    }
  }

  customElements.define("astro-banner", AstroBanner);
</script>
